.row {
    position: absolute;
    z-index: 3;
    width: 100%;

    :deep(.el-menu--horizontal) {

        border-bottom: none;
    }

    :deep(.el-menu) {
        background-color: transparent;
    }

    .menu-item-white {
        color: #fff;
    }

    .menu-item-black {
        color: #18191C;
    }

    .search {
        height: 100%;
        display: flex;
        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;

        :deep(.el-input__wrapper) {
            border-radius: 30px;
        }

    }

}

.bgColorBlack {
    background-color: transparent;
}

.boxShadow {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}
.bgColorWhite {
    background-color: #fff;
}