.row {
    :deep(.el-menu--horizontal) {

        border-bottom: none;
    }
    .search{
        height: 100%;
        display: flex;
        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;

        :deep(.el-input__wrapper){
            border-radius: 30px;
        }

    }
   
}