.mian {
    background-color: $color-gray-background;
    height: 100%;
    text-align: centers;
    .head {
        width: 100%;
    }

    .cover-picture {
        width: 100%;
        height: 14rem;
        color: #fff;
        background-image: url("@/assets/img/home/background.png");
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;
        border: 0;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        transform: translate3d(0px, 0px, 0px);
    }

    

    .middle {
        max-width: calc(1980px + 2 * 140px);;
        background-color: $color-gray-background;
        padding-top: 24px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .carousel{
            width: 780px;
            height: 440px;
            .carousel-img{
                width: 100%;
                height: 100%;
       
            }
        }

    }
}